
.coverPage{
    max-width: 100%;
    
   
    
}

.coverPage{
    .row{
        background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_home.jpg");
        background-size: contain;
    }
    .titleCover{
        background: linear-gradient(to right, $primary, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        color:transparent;
        
      }
    
}

.square{
    display: none;
    width: 10px;
    height: 10px;
    background-color: white;

}

.banner{
    box-sizing: border-box;
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 86px;
    padding-right: 86px;
    margin-top: 206px;
    margin-bottom: 205px;
    border: 1px solid white;
    &:hover{
        .square{
            display: block;
        }
    }
    @include mobile{
        padding-top:32px;
        padding-bottom: 32px;
        padding-left: 28px;
        padding-right: 28px;
        margin-top: 80px;
        margin-bottom: 80px; 
    }
}



.preview{
    background:#2D2D2D ;
    color:grey;
    .previewTitle{
        width: 25%;
        @include mobile{
            background-color: #2D2D2D;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 24px;
            width: 100%;
            h4{
                text-align: center;
            }
        }
    }
}




// .line{
//     height: 3px;
//     padding-bottom: 16px;
//     border-bottom: 2px solid $secondary;
// }

.line::before{
        content: "";
        position: absolute;
        top: 72px;
        left: 0;
        width: 48px;
        height: 2px;
        background-color: #62DB54;
        @include mobile{
            content: "";
            position: absolute;
            top: 72px;
            left: 40%;
            width: 48px;
            height: 2px;
            background-color: #62DB54;
        }
    
}

.lineTwo{
    width: 48px;
    height: 2px;
    background-color: #62DB54;
}

.title{
    margin-bottom: 48px;
    @include mobile{
        margin-bottom: 16px;
    }
}





.feature{
    border-radius: 12px;
    border: 1px solid transparent;
    width: 25%;
    &:hover{
        border:1px solid $secondary;
        background-color: black ;
        color: white;
             
    }
    span{
        font-size: 40px;
        &:hover{
            .material-symbols-outlined{
                background:linear-gradient(to bottom, $primary, $secondary);
                // -webkit-background-clip: text;
                // color:transparent;
            
        }
    }
}
@include mobile{
    width: 100%;
}
}

.step{
    border-radius: 24px;
    @include mobile{
        width: 100%;
        margin-bottom: 24px;
    }
}
.flow{
    .no{
        top:0px;
        left:78px;}
}

.course{
    padding-top: 80px;
    padding-bottom: 80px;
    background:#2D2D2D ;
    .swiper{
        flex-wrap: nowrap;
    }
    .mySwiper3{
        .swiper-slide{
            display: flex;
        }
    
        button{
            width: 140px !important;
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: 32px;
            padding-right: 32px;
            border: 1px solid white;
            font-size: 18px;
            font-weight: bold;
            color: white;
            background: transparent;
            border-radius: 8px;
            &:hover{
                background-color: $secondary;
            }
        }
    
}
}

.popularCourse{
    padding-bottom: 48px;
    @include mobile{
        padding-bottom: 0px;
    }
    .instructionSection{
        flex-wrap: nowrap;
        @include mobile{
            flex-wrap: wrap;
        }
    }
    .instruction{
        border-radius: 24px;
        width: 25%;
        background: #2D2D2D;
        margin-right: 12px;
        box-sizing: border-box;
        border: 2px solid transparent;
        &:hover{
            border: 2px solid #62DB54;
        }

        img{
            width: 100px;
            height: 100px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h3{
            font-size: 20px;
            line-height: 29px;
            margin-bottom: 37px;
        }
        p{
            padding-bottom:32px;
        }
        .price{
            border-top: 1px solid white;
            text-align: center;

        }
        @include mobile{
            width: 100%;
            margin-bottom: 16px;

        }
    }
}

.courseList{
    background:linear-gradient(to right, $primary, $secondary); 
    display: block;
}

.courseList{
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;

}

.method{
    width: 25%;
    opacity:0.5;
    @include mobile{
        width: 100%;

    }
    .content{
        padding-top: 216px;
        padding-bottom: 216px;
        padding-left: 48px;
        padding-right: 48px;
        h5{
            color: white;
        }
        span{
            color: grey;
            font-size: 30px;
            
            
        }
        @include mobile {
            text-align: center;
            
        }
    }
    &:hover{
        opacity:1;
        span{
            color: $secondary;
        }
        .highLight{
            background-color: $secondary;
        }
    }
}

.highLight{
    background-color: white;
    width: 50px;
    height: 3px;
    @include mobile{
        display: none;
    }

}

.highLight::before{
    content: "";
    position: absolute;
    top: 100;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #62DB54;
  
}

.highLightTwo{
    display:none;
    @include mobile{
        display: block;
        margin-top: 16px;
        width: 50px;
        height: 2px;
        background-color: #62DB54;
    }
}

.program{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info01.jpg?raw=true);
    
}

.potential{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info02.jpg?raw=true);
   
}
.efficiency{
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info03.jpg?raw=true);
    
}
.onetoOne{
    background:url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info04.jpg?raw=true);
  

}


.squareRounded {
    display: none;
    width: 32px;
    height: 32px;
    &-topLeft {
      border-top: 2px solid #62DB54;
      border-left: 2px solid #62DB54;
      border-top-left-radius: 10px;
    }
    &-topRight {
      border-top: 2px solid #62DB54;
      border-right: 2px solid #62DB54;
      border-top-right-radius: 10px;
    }
    &-bottomLeft {
      border-bottom: 2px solid #62DB54;
      border-left: 2px solid #62DB54;
      border-bottom-left-radius: 10px;
    }
    &-bottomRight {
      border-bottom: 2px solid #62DB54;
      border-right: 2px solid #62DB54;
      border-bottom-right-radius: 10px;
    }
  }

  .card{
      padding:32px;
      border: 0px;
      background: transparent;
    &:hover {
    .squareRounded {
      display: block;
    }
  }
  }
//輪播section//
  .review{
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_home.jpg");
    background-size: contain;

    .swiper-slide{
        flex-wrap: nowrap;
        @include mobile{
            flex-wrap: wrap;
        }
    }



    .img{
        border: 1px solid white;
        border-radius: 24px;
        
        img{
            margin-left: 5px;
            margin-bottom: 5px;
            border-radius: 24px;
        }

    }

    // .reviewSection{
    //     padding-top: 0px;
    //     padding-left: 0px;
    //     padding-right: 0px;
    //     @include mobile{
    //         margin-left: 0px !important;
    //         margin-bottom: 0px !important;
    //         margin-top: 48px;
    //         padding: 0px !important;;
            
    //     }
    // }

 

    .card{
       
        height: 178px;
        background-color: white;
        margin-left:-48px;
        margin-bottom:-24px;
        border-radius:24px 24px 24px 0px;
        img{
            width: 100px;
        }
        h4{
            font-size: 18px;
            width: 80%;
            
        }
        @include mobile{
            
            margin-bottom: 0px;
            padding: 24px;
            margin-top: 64px;
            margin-left: 0px ;
            margin-right: 0px;
            
        }
       
    }

    .swiper{
        padding-bottom:24px;
        @include mobile{
            padding-bottom: 0px;
        }
    }


      .swiper-pagination-bullet{
        --swiper-pagination-bullet-width: 8px;
        --swiper-pagination-bullet-inactive-color:#62DB54;
        --swiper-pagination-bullet-inactive-opacity:1;
        
     }
     
     .swiper-pagination-bullet-active{
       --swiper-pagination-bullet-width: 16px;
       background-color: $secondary;
       border-radius: 100px;
        
     }

     .control{
         width: 100%;
         .controlItem{
             
             @include mobile{
                 margin-top: 0px;
             }
         }
     }

    }




  

  



//加入我們成為導師//
  .hiringInfo{
      padding: 48px;
      width: 70%;
      border-radius: 24px;
      background-color: #2D2D2D;
      @include mobile{
          width: 100%;
          padding: 40px;
      }

      
      span{
          font-size: 100px;
          margin-right: 48px;
          @include mobile{
              display: block;
              text-align: center;
              margin-left: auto;
              margin-right: auto;
          }
      }
      h3{
          margin-bottom: 8px;
        @include mobile{
            text-align: center;
            margin-bottom: 24px;}
      }
      h6{
        @include mobile{
            text-align: center;
        margin-bottom: 24px;}
      }
    .btn{
        @include mobile{
        margin-left: auto;
        margin-right: auto;}
      }

    }



